

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:#F2EDE4;
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.manual-header{
    /* background-color: rgb(132, 107, 160); */
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.itens-nav  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #593d2523; */

}

.logo-nav H2 {
    margin: 0;
    margin-left: 1rem;
    /* width: 200px; */
    padding: 1em;
}

.itens_menu a {
    color: #D98C4A;
    text-decoration: none;
    margin: 0 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.logo-nav a.logo-link {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit; /* Mantém a cor do texto original (herda do pai) */
}

/* Remove mudança de cor quando visitado */
.logo-nav a.logo-link:visited {
  color: inherit; /* Mantém a mesma cor, mesmo após clicar */
}

span{
  color:#f0a182;
}

 .itens_menu a:hover {
    color:#D9653B;
    transition: 0.2s;
} 

  .btn-insta i {
    font-size: 1.2rem;
  }


.gallery-container {
    margin: 0.5em;
    columns: 300px;
    column-gap: 0.5em;    
    scrollbar-width: none;
    padding-top: 1rem;
  }

  
img {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 0.5rem ;
    cursor: pointer;
    transition: transform 0.2s;
    
  }
  
  .gallery-container img:hover {
    transform: scale(1.05);
  }
  
  .modal {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter: blur(5px); /* aplica o blur no que está atrás */
     border-radius: 2rem;
   
  }
  
  .modal-content {
    display: block;
    margin: auto;
    max-width: 90%;
    max-height: 80%;
    border-radius: 2rem;
    object-fit: contain;
    
  }
  
  .close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: rgb(119, 88, 88);
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .botao-topo {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    background-color: #f0a182;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .botao-topo.visivel {
    display: block;
    opacity: 0.7;
  }
  
  .botao-topo:hover {
    opacity: 1;
    background-color: #D9653B;
  }

